<div class="title">
  <h1 mat-dialog-title>Nuevo Producto</h1>
</div>
<div class="dialog-content" mat-dialog-content>
  <p>Tipo de producto: </p>
  <div class="flex-content-init">
    <mat-form-field appearance="fill" class="content-type">
        <mat-label>Seleccciona</mat-label>
        <mat-select  [(ngModel)]="data.type">
          <mat-option  *ngFor="let type of typeProducts" [value]="type">{{type.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-flat-button color="primary" class="button-adds" (click)="openDialogTypeProduct()">
        Agregar Tipo Producto
      </button>
  </div>
  <p>Marca: </p>
  <div class="flex-content-init">
    <mat-form-field appearance="fill" class="content-type">
        <mat-label>Seleccciona</mat-label>
        <mat-select [(ngModel)]="data.brand">
          <mat-option *ngFor= "let brand of brands" [value]="brand">{{brand.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-flat-button color="primary" class="button-adds" (click)="openDialogBrand()">
        Agregar Marca
      </button>
  </div>

  <p>Nombre del producto: </p>
  <mat-form-field appearance="fill" class="content-wh">
    <input matInput [(ngModel)]="data.name" placeholder="Escribe aquí" required #howField>
  </mat-form-field>

  <p>Descripción del producto: </p>
  <mat-form-field appearance="fill" class="content-wh">
    <input matInput [(ngModel)]="data.description" placeholder="Escribe aquí" required #howField>
  </mat-form-field>

  <p>Cantidad: </p>
  <mat-form-field appearance="fill" class="content-wh">
    <input matInput [(ngModel)]="data.quantity" placeholder="Escribe aquí" required #howField>
  </mat-form-field>

  <div class="flex-content">
    <div class="into-flex-content">
      <p>Precio mínimo: </p>
      <mat-form-field appearance="fill" class="content-wh">
        <input matInput [(ngModel)]="data.minimumPrice" placeholder="Escribe aquí" required #howField>
        <span matPrefix>$&nbsp;</span>
      </mat-form-field>
    </div>
    <div class="into-flex-content">
      <p>Precio máximo: </p>
      <mat-form-field appearance="fill" class="content-wh">
        <input matInput [(ngModel)]="data.maximumPrice" placeholder="Escribe aquí" required #howField>
        <span matPrefix>$&nbsp;</span>
      </mat-form-field>
    </div>
    <div class="into-flex-content">
      <p>IVA: </p>
      <mat-form-field appearance="fill" class="content-wh">
        <input matInput [(ngModel)]="data.vatTax" placeholder="Escribe aquí" required #howField>
        <span matSuffix>%</span>
      </mat-form-field>
    </div>
    <div class="into-flex-content">
      <p>Impuesto al consumo: </p>
      <mat-form-field appearance="fill" class="content-wh">
        <input matInput [(ngModel)]="data.consumptionTax" placeholder="Escribe aquí" required #howField>
        <span matSuffix>%</span>
      </mat-form-field>
    </div>
  </div>

</div>
<div mat-dialog-actions class="action-content">
  <button mat-flat-button color="warn" (click)="onNoClick()">Cancelar</button>
  <button mat-flat-button (click)="save()" color="primary">Ok</button>
</div>
