<div class="general-home">
    <img src="../../../assets/images/background.jpg" width="100%" height="100%" class="content-img">
    <div class="content-menu">
        <mat-toolbar class="test">
            <mat-toolbar-row class="activeRoot">
                <mat-icon>list_alt</mat-icon>
              <span routerLink="products">Productos</span>
            </mat-toolbar-row>
          
            <mat-toolbar-row class="activeRoot">
                <mat-icon>published_with_changes</mat-icon>
              <span routerLink="movement">Movimientos</span>
            </mat-toolbar-row>
          
            <mat-toolbar-row class="activeRoot">
                <mat-icon>maps_home_work</mat-icon>
              <span routerLink="warehouse">Almacenes</span>
            </mat-toolbar-row>
          </mat-toolbar>      
    </div>
</div>