.content-general {
    margin: 16px;
    .content-init {
        display: flex;
        .button-add {
            width: 180px;
            margin: 16px;
            margin-bottom: 1.7em;
            margin-left: 0;
        }
    }
}